.display
{
    /* border: 1px solid black; */
    max-height: 90vh;
    min-height: 90vh;
    
    /* align-content: center; */
    justify-content: center;
    background-image: linear-gradient(to bottom, rgb(241, 0, 0) , rgb(32, 32, 222));
    border-radius: 8px;
    

}
.display-container
{
    margin: 10px;
    /* border: 1px solid rgb(255, 255, 255); */
    min-width: 400px;
    color: aliceblue;
    padding: 10px;
}
#heading {
    text-align: center;
}
#selectPlayerText
{
    max-height: min-content;
    margin-top: 2px;
    margin-bottom: -10px;   
}
#noOfPlayers
{
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: auto 30% ;
    grid-gap: 10px;
    margin: 15px;
    margin-bottom:20px ;
}
#textboxes
{
    text-align: center;
    background-color: rgb(249, 153, 153);

}
#noOfPlayers > * {
    border-radius: 5px; /* You can adjust the value as needed */
}
.editText
{
    color: rgb(242, 146, 82);   
}
.editText:hover
{
    cursor: pointer;
}
.dicesContainer
{
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-around;
}
#dice
{
    border-radius: 5px;

}

.playerDescription
{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    align-items: stretch;
    justify-content: space-around;
    
    margin-top: 10px;
}