#redPassed,
#bluePassed,
#yellowPassed {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
}


#greenPassed {
    /* background-color: rgb(113, 203, 113); */
    display:flex ;
    justify-content: center;
    align-items: center;
}

#redPassed {
    /* background-color: hsl(0, 75%, 68%); */
    position: absolute;
    top: 20px;
    display:flex ;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
#bluePassed {
    /* background-color: rgb(88, 88, 239); */
    position: absolute;
    top: 20px;
    right: 0px;
    display: flex;
    flex-direction: column;
}

#yellowPassed {
    /* background-color: yellow; */
    display:flex ;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
    left: 25px;
}


#greenPassed>*,
#redPassed>*,
#bluePassed>*,
#yellowPassed>* {
    border: 2px solid rgb(178 174 175);
    height: 20px;
    width: 20px;
}