.pawn {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 3px solid rgb(178 174 175)
    
}


.pawn:hover{
    transform: translate(-3px,-3px);
    cursor: pointer;
}

/* .pawnDesc
{
    color: aliceblue;
    margin: 0;
    padding: 0;
} */

.pawnred {

    background-color: #ec0303;
}

.pawnyellow {
    background-color: hsl(66, 93%, 52%);
    /* border: 3px solid rgb(12, 12, 12); */
}

.pawnblue {
    background-color: blue;
}

.pawngreen {
    background-color: green;
}

.multipleDisplay {
    position: absolute;
    /* left: 3px; */
    top: 3px;
    
    /* transform: translate(-50%, -50%); */
    
}
