 .pawnDiv { 
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto;   
    justify-items: center;
    width: 70%;
    margin: 70px auto ;
    
 }  
.singlePawn
{
    margin: 5px;
}
/* .pawnDiv >*
{
    display: inline-block;
     border: 1px solid black;
    
} */
